extends layout

include mixinfunctions

block content
    h1= title
    p Welcome to #{title}
    p HEYYY
    a.main_link(href='', target='_blank') About Us
    .container
    .container.left
    div.container.left
    div#container.left
      div#inside Insider de barra de bar

block aside
    p#sidebar asidebar

block footer
    div Guillermo 'Seven' NullPointer7
    +firma
