doctype html
html
head
    title= title
    link(rel='stylesheet/less', href='/stylesheets/style.less')
    script(type='text/javascript', src='/javascripts/less.js')
    script(type='text/javascript').
        var myVar = 'Hello Var';
        console.log(myVar);
body
    block content
    block aside
    hr
    block footer

